body {
    background-color: black;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

h1 {
    background-color: #1f1f1f;
    margin: 0;
    padding: 15px;
    text-align: center;
    color: white;
}




section {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 30px;
}

a {
    color: white;
    font-size: 20px;
    text-decoration: none;
    background-color: red;
    padding: 10px 20px;
    border-radius: 10px;
}

body {
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  background-color: #1f1f1f;
  color: white;
  text-align: center;
  padding: 15px 0;
  font-size: 14px;
  margin-top: auto;
}

